@model IEnumerable<ProductViewModel>
<div class="text-center">
    @if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Име</th>
                    <th scope="col">Налично количество</th>
                    <th scope="col">Редактирай</th>
                    <th scope="col">Изтрий</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Id</td>
                        <td>@product.Price</td>
                        <td>@product.Title</td>
                        <td>@product.AvailableQuantity</td>
                        <td><a asp-controller="Admin" asp-action="Edit" asp-route-productId="@product.Id">Редактирай</a></td>
                        <td><a asp-controller="Admin" asp-action="Delete" asp-route-productId="@product.Id">Изтрий</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <a asp-controller="Admin" asp-action="Add" class="btn btn-primary">Добави продукт</a>
</div>